{% extends 'ARBankingBundle:Default:base.html.twig' %}

{% block title %}Transactions - Banking System{% endblock %}

{% block body %}
    <h1 class="page-header">{{ account.name }}
        <small>{% if year is defined %}transactions for year {{ year }}{% else %}all transactions{% endif %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('ar_banking_homepage') }}">Home</a></li>
        <li><a href="{{ path('ar_banking_accounts') }}">Accounts</a></li>
        <li><a href="{{ path('ar_banking_account', {'accountId': account.id}) }}">{{ account.name }}</a></li>
        <li class="active">{% if year is defined %}{{ year }}{% else %}All{% endif %}</li>
    </ol>
    <table class="table table-striped table-hover">
        <thead>
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Balance</th>
        </thead>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date|date("d/m/Y") }}</td>
                <td>{{ transaction.paymentType }}</td>
                <td>{{ transaction.description }}</td>
                <td{% if transaction.amount < 0 %} class="danger"{% else %} class="success"{% endif %}>
                    {{ transaction.amount|number_format(2, '.', ',') }}
                </td>
                <td>{{ transaction.balance|number_format(2, '.', ',') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block sideNav %}
    {{ render(controller('ARBankingBundle:AccountView:yearsActive', {'accountId': account.id})) }}
{% endblock %}